*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}
.nav-bar{
    margin: .2rem 0;
}
.fa-bars{
    cursor: pointer;
}

.left{
    float:left;
    display: flex;
    align-items: center;
    margin-left: 1.2rem;
    margin-top: 1rem;
}
.left i{
    margin: 0 5px;
}
.left a{
    font-weight: 600;
    font-size: 22px;
    margin-left: 15px;
    color:#000;
    text-decoration: none;
}

.right{
    float:right;
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    margin-top: -35px;
    
}
.right img{
    border-radius: 50%;
    width: 2.5rem;
    height: auto;
}
.right i {
    margin: 0 15px;
}

.search{
    overflow: hidden;
    padding: 0 10rem;
}
input{
    width: 572px;
    padding: 10px;
    border: 1px solid  #c9c4c4;
}
.fa-magnifying-glass{
    border: 1px solid #c9c4c4;
    padding: 10px 20px 12px;
    margin-left: -5px;
    color: #aca9a9;
}
.fa-magnifying-glass:hover{
    background-color: #d4d4d466;
}
.fa-microphone{
    padding-left: 20px;
    
}

.main{
    margin: 40px 25px;
    display: flex;
    justify-content: space-between;
}
.bottom-video{
    display: flex;
    justify-content: space-between;

}
.video-title{
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 400;
}
.stats span{
    color:#797878;
    margin: 10px;
}
.tools a{
    margin: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
hr{
    margin-top: 30px;
    opacity: .5;
}

.subscription{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.owner{
    display: flex;
    flex-direction: column; 
    margin-left: 15px;
}

.name{
    font-weight: bold;
    margin-top: -5px;
}
.subscribers{
    margin-top: 10px;
    opacity: .7;
}
.sub{
    background-color: red;
    color: #fff;
    padding: .6em;
    cursor: pointer;
}
.label{
    display: block;
    margin: 30px 75px;
}
.label a{
    text-decoration: none;
}
.show-more{
    font-size: 14px;
    display: inline-block;
    margin-left: 75px;
    cursor: pointer; 
}
.commentaires{
    margin: 20px 0;
    font-weight: 500;
}
.commentaires span{
    margin: 20px;
}
.mycomment{
    display: flex;
    flex-direction: row;
}
.mycomment img{
    border-radius: 50%;
    width: 3rem;
    height: auto;
}
.mycomment span{
    opacity: .5;
    margin: 10px ;
    position: relative;
}
